<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.dxhunter.maison-arco</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__BRIDGE_DIR__/start-maison-arco.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__BRIDGE_DIR__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>30</integer>
  <key>StandardOutPath</key>
  <string>__BRIDGE_DIR__/maison-arco.log</string>
  <key>StandardErrorPath</key>
  <string>__BRIDGE_DIR__/maison-arco.log</string>
  <key>ProcessType</key>
  <string>Background</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
</dict>
</plist>
